/* -------- Caroussel -------*/

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 7px;
    width: 7px;
    margin: 0 2px;
    background-color: #383838;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  .active, .dot:hover {
    background-color: #717171;
  }
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }


/* --------- NEW LAYOUT ---------*/

body{
    color: #ffffff;
    font-display: swap;
    font-weight: 400;
    font-size: 14px;
    font-family: "JetBrains Mono",monospace;
    line-height: 1.725;
    text-rendering: geometricPrecision;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    background-color: black;
}

p{
    line-height: 17pt;
    padding-bottom: 10px;
    /* font-size: 11pt; */
    font-size: 0.98em;
}

a{
    text-decoration: none;
    color: lightgray;
}

pre {
    background-color: whitesmoke;
    tab-size: 20px;
    overflow-x: scroll;
}


.center-container{
    /* background-color:rgb(210, 67, 67); */
    width: 75%;
    max-width: 1200px;
    min-width: 640px;
    margin-left: auto;
    margin-right:auto;
}

.content-container {
    /* width: 640px; */
    margin-right: auto;
    margin-left: auto;
}

.content-container h2 {
    /* width: 640px; */
    margin-top: 100px;
}

.content-container h1{
    margin-top: 0;
    margin-bottom: 30px;
}

.content-container img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.content-container p a{
    color: #8181eb;
}

.content-container p a:visited{
    color: #6767ae;
}

.video-container {
    margin-top: 10px;
    margin-bottom: 30px;
}

.collumn-container{
    display: flex;
    align-items: stretch;

    width:100%;
    overflow: hidden;

    margin-bottom:20px;
}
.collumn-container .collumn{
    flex: 1;
}

.collumn {
    margin:10px;
}

.collumn img{
    /* padding:10px; */
    width:100%;
}

.desc{
    color: #e8e6e6; 
    line-height: 15pt;
    font-size: 1em;
    margin-top: 10px;
    font-style: italic;
}

.link-to-home{
    margin-top:0px;
    margin-bottom:0px;
    width : 70px;

    /* padding: 5px 10px 5px 10px; */
    width:fit-content;
    border-radius: 10px;
}

.footer-container{
    border-top: lightgray;
    border-top-style: none;
    border-top-width: medium;
    border-top-style: solid;
    border-top-width: 1px;
    padding-top: 20px; 
}

.footer-container
{
    margin-top: 100px;   
    margin-bottom: 200px;
}

.footer-container img{
    width:100%;
}


.home{
    width: 75%;
    max-width: 1200px;
    min-width: 640px;
}

.header-container{
    display: flex;
    flex-direction: row;
    position: relative;
    margin-bottom: 80px;
}

.header-container a {
    text-decoration: none;
    color: #e3e3e3;
}
.header-container a:link, a:visited {
    color: #ababab;
}
.header-container a:hover {
    color: white;
}

.header-name-container {
    position: absolute;
    left: 120px;
    bottom: 0;
}

.header-name-container h1 {
    color: white;   
    margin: 0;
}

.header-name-container h4 {
    margin: 0;
    font-style: italic;
    color: white;
    font-size: small;
}

.about-section {
    color: #e8e6e6;
    margin-top: 50px;
    margin-bottom: 40px;
    max-width: 90%;
}

.project-sections{
    border-top: 2px solid white;
    height:40px;
    display: flex;
    flex-direction: row;
}

.project-sections a{
    margin-right: 20px;
    padding-left: 10px;
    padding-right: 10px;
    height: fit-content;
    margin: 0;
}

.project-sections .active {
    background-color: white;
    color: black;
}

.work-banner-container{
    margin-bottom: 50px;
}

.work-banner-container .banner-desc{
    font-weight: lighter;
    font-style: italic;
}

.work-banner-container h3{
    color:white;
    font-size: 16pt;
    margin-bottom: 0.3em;
    text-transform: capitalize;
}

.project-footer {
    border-top: 2px solid black;
    height:200px;
    width: 100%;
}
.thumb-container {
    overflow: hidden;
    max-height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}



/* ----- ARCHIVE CONTAINER ------ */

.archive-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    grid-auto-flow: dense;
}

.archive-grid h3{
    font-size: 10pt;
}

.archive-grid .work-banner-container {
    overflow: hidden;
    max-height: 200px;
    margin-bottom: 10px;
}

.archive-grid .desc {
    display: none;
}

@media only screen and (max-width: 600px) {

    html, body {
        margin: 0;
        height: 100%;

    }
    body{
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        position: absolute;
        padding: 10px;
    }   

    p {
        font-size: 1.1em;
    }

    .home{
        width: 50%;
        max-width: 1000px;
        min-width: 450px;
    }

    .work-banner-container h3{
        font-size: 16pt;
        font-weight: bold;
        margin-bottom: 0.3em;
        text-transform: capitalize;
    }

    .project-sections {
        font-size: 20px;
    }

    .link-to-home{ 
        margin-bottom: 0;
        font-size: 1.4em;
    }

    .content-container h1 {
        margin-top:0px;
        font-size:2.8em;
    }

    .content-container h4 {
        margin-top:0px;
        font-size:1.8em;
    }
}